<a href="/registration/new">
  <div class="register_link">Register</div>
</a>

<div class="or_class">
  <h1>
    OR
  </h1>
</div>

<ul class="unordered_list">
  <form method="post" action="/">

    <li><label for="username">Username</label>
    <li><input class="list_item" type="text" name="username" id="username"/></li>
    </li>
    <li><label for="password">Password</label>
    <li><input class="list_item" type="password" name="password" id="password"/></li>
    </li>
    <li>
      <input class="list_item" type="submit" value="Login"/>
    </li>
  </form>
</ul>


