<h1>Welcome, <%= username %></h1>

<h1>Users</h1>

<ul>
    <% list_usernames.each do |hash| %>
  <li> <%= hash["username"]%> </li>
      <% end %>

</ul>

<form method="post" action="/logout">

  <input type="submit" value="Logout"/>

</form>
