<h1>Welcome, <%= username %></h1>

<h1>Users</h1>

<form action="/" method="get">
  <input type="submit" value="Sort Users Ascending" name="sort_ascending">
</form>

<form action="/" method="get">
  <input type="submit" value="Sort Users Descending" name="sort_descending">
</form>

<ul>
    <% list_usernames.each do |registered_user| %>
 <% unless registered_user == username %>
      <li><%= registered_user %></li>
      <% end %>
      <% end %>

</ul>

<form method="post" action="/logout">

  <input type="submit" value="Logout"/>

</form>
