<h1>Welcome, <%= username %></h1>

<h1>Users</h1>

<form action="/" method="get">
  <input type="submit" value="Sort Users Ascending" name="sort_ascending">
</form>

<form action="/" method="get">
  <input type="submit" value="Sort Users Descending" name="sort_descending">
</form>

<ul>
    <% list_usernames.each do |registered_user| %>
 <% unless registered_user == username %>
      <li><%= registered_user %></li>
      <% end %>
      <% end %>

</ul>

<form action="/delete" method="post">
  <li><label for="Delete User">Delete User</label>
  <li><input class="list_item" type="text" name="username" id="username"/></li>
  </li>
  <input class="list_item" type="submit" value="Delete User"/>
</form>

<form method="post" action="/logout">

  <input type="submit" value="Logout"/>

</form>
